<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="card.io.cordova.MagneticCard"
    version="2.1.0">
    <name>MagneticCard</name>
    <description>This plugin allows to add to add CardIO to your application using Telpo Native library</description>
    <license></license>
    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>

      <js-module src="www/cdv-plugin-card-io.js" name="MagneticCard">
            <clobbers target="MagneticCard" />
      </js-module>

  <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="MagneticCard">
                <param name="android-package" value="io.card.cordova.sdk.MagneticCard" />
            </feature>
        </config-file>

        <!--<source-file src="/libs/acssmc-1.1.1.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/core-3.1.0.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/sdtapi.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/SmartCardLib.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/telpo_api.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/armeabi.jar" target-dir="libs"  framework="true" />-->
        <!--<source-file src="/libs/native.jar" target-dir="libs"  framework="true" />-->


        <lib-file src="/libs/acssmc-1.1.1.jar" arch="device"  framework="true" />
        <lib-file src="/libs/core-3.1.0.jar" arch="device"  framework="true" />
        <lib-file src="/libs/sdtapi.jar" arch="device"  framework="true" />
        <lib-file src="/libs/SmartCardLib.jar" arch="device"  framework="true" />
        <lib-file src="/libs/telpo_api.jar" arch="device"  framework="true" />
        <lib-file src="/libs/armeabi.jar" arch="device"  framework="true" />
        <lib-file src="/libs/native.jar" arch="device"  framework="true" />




        <!--<lib-file src="src/android/libs/armeabi/libtelpo_msr.so" arch="device" />-->
        <!--<lib-file src="src/android/libs/armeabi/libtelpo_msr.so" arch="simulator" />-->

        <source-file src="src/android/libs/armeabi/libcard_reader.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libcollect.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libdecode.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libidcard.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libled.so" target-dir="libs/armeabi" framework="true"  />
        <source-file src="src/android/libs/armeabi/libmoneybox.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libpicc.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libsystem_util.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_msr.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_printer.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_serial.so" target-dir="libs/armeabi"  framework="true" />
        <source-file src="src/android/libs/armeabi/libusb_util.so" target-dir="libs/armeabi"  framework="true" />


        <lib-file src="src/android/libs/armeabi/libcard_reader.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libcollect.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libdecode.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libidcard.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libled.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libmoneybox.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libpicc.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libsystem_util.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libtelpo_msr.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libtelpo_printer.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libtelpo_serial.so" arch="device"  framework="true" />
        <lib-file src="src/android/libs/armeabi/libusb_util.so" arch="device"  framework="true" />

        <source-file src="src/android/libs/armeabi/libcard_reader.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libcollect.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libdecode.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libidcard.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libled.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libmoneybox.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libpicc.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libsystem_util.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_msr.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_printer.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libtelpo_serial.so" target-dir="libs/armeabi-v7a"  framework="true" />
        <source-file src="src/android/libs/armeabi/libusb_util.so" target-dir="libs/armeabi-v7a"  framework="true" />


        <source-file src="src/android/MagneticCard.java" target-dir="src/io/card/cordova/sdk" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
