<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="card.io.cordova.MagneticCard"
    version="2.1.0">
    <name>MagneticCard</name>
    <description>This plugin allows to add to add CardIO to your application using Telpo Native library</description>
    <license></license>
    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>

      <js-module src="www/cdv-plugin-card-io.js" name="MagneticCard">
            <clobbers target="MagneticCard" />
      </js-module>

  <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="MagneticCard">
                <param name="android-package" value="io.card.cordova.sdk.MagneticCard" />
            </feature>
        </config-file>

        <source-file src="src/android/lib/acssmc-1.1.1.jar" target-dir="lib" />
        <source-file src="src/android/lib/core-3.1.0.jar" target-dir="lib" />
        <source-file src="src/android/lib/sdtapi.jar" target-dir="lib" />
        <source-file src="src/android/lib/SmartCardLib.jar" target-dir="lib" />
        <source-file src="src/android/lib/telpo_api.jar" target-dir="lib" />
        <source-file src="src/android/lib/armeabi.jar" target-dir="lib" />


        <lib-file src="src/android/lib/armeabi/libtelpo_msr.so" arch="device" />

        <source-file src="src/android/lib/armeabi/libcard_reader.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libcollect.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libdecode.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libidcard.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libled.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libmoneybox.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libpicc.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libsystem_util.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libtelpo_msr.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libtelpo_printer.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libtelpo_serial.so" target-dir="lib/armeabi" />
        <source-file src="src/android/lib/armeabi/libusb_util.so" target-dir="lib/armeabi" />



        <source-file src="src/android/MagneticCard.java" target-dir="src/io/card/cordova/sdk" />
	      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
