<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="card.io.cordova.MagneticCard"
    version="2.1.0">
    <name>MagneticCard</name>
    <description>This plugin allows to add to add CardIO to your application using Telpo Native library</description>
    <license></license>
    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>

      <js-module src="www/cdv-plugin-card-io.js" name="MagneticCard">
            <clobbers target="MagneticCard" />
      </js-module>

  <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="MagneticCard">
                <param name="android-package" value="io.card.cordova.sdk.MagneticCard" />
            </feature>
        </config-file>

        <source-file src="src/android/libs/acssmc-1.1.1.jar" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/core-3.1.0.jar" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/sdtapi.jar" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/SmartCardLib.jar" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/telpo_api.jar" target-dir="src/io/card/cordova/sdk" />


        <source-file src="src/android/libs/libcard_reader.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libcollect.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libdecode.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libidcard.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libled.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libmoneybox.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libpicc.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libsystem_util.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libtelpo_msr.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libtelpo_printer.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libtelpo_serial.so" target-dir="src/io/card/cordova/sdk" />
        <source-file src="src/android/libs/libusb_util.so" target-dir="src/io/card/cordova/sdk" />



        <source-file src="src/android/MagneticCard.java" target-dir="src/io/card/cordova/sdk" />
	      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
